/*Please see in wide screen*/
/*꼭 넓은 화면에서 봐주세요!*/

@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Noto+Sans+KR:400,500,700&display=swap");

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lobster Two", cursive;
  background: linear-gradient(to top, #9cecfb, #65c7f7, #0052d4);
  margin: 0;
}

.template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.title {
  font-size: 70px;
  color: #f2f2f2;
  text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0px;
}

.js-toDoForm input {
  width: 350px;
  height: 30px;
  padding: 5px 10px;
  border: 3px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.2);
}

.js-toDoForm input::placeholder,
.js-toDoForm input {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #aaaaaa;
}

.js-toDoForm input:focus {
  outline: none;
}

.todo-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.todo-container > div {
  margin: 0px 20px;
}

.js-pending,
.js-finished {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.js-pending .js-pending__title,
.js-finished .js-finished__title {
  color: #f2f2f2;
  font-size: 25px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin: 5px 0px;
}

.js-pending .js-pending__list,
.js-finished .js-finished__list {
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js-pending__list button,
.js-finished__list button {
  border: none;
  background: none;
  padding: 0px 3px;
}

.js-pending__list span,
.js-finished__list span {
  font-weight: 700;
  color: #424242;
  font-size: 15px;
}
