@import url("https://fonts.googleapis.com/css?family=Lobster|Noto+Sans+KR:400,500,700&display=swap");
body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lobster", cursive;
  color: #f2f2f2;
  margin: 0;
  overflow: hidden;
}

.header {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.header .js-weather-description{
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto 0;
  top: 100px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgImage {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.js-clock .js-title {
  font-weight: 700;
  font-size: 100px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  margin: 25px 0px;
}

.js-form,
.js-toDoForm {
  margin: 8px 0px;
}

.js-form input,
.js-toDoForm input {
  padding: 5px 15px;
  border: 3px solid #d4d4d4;
  border-radius: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #3a3a3a;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.js-form input:focus,
.js-toDoForm input:focus {
  outline: none;
}

.js-greetings {
  font-weight: 500;
  font-size: 30px;
  margin: 15px 0px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.js-toDoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.js-toDoList li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}

.js-toDoList button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
