body {
  font-family: sans-serif;
  display: flex;
}

h2 {
  color: white;
}

/*상태 별로 클래스 name을 두기도 한다
적용되는 태그는 동일하다*/
.bigScreen {
  background-color: #f1c40f;
}

.mediumScreen {
  background-color: #9b59b6;
}

.smallScreen {
  background-color: #3498db;
}
